<style media="screen" type="text/css">
* {
font-family:Arial, Helvetica, sans-serif;

}
 body {
background-color:#ccc;
background-position:top;
background-repeat:no-repeat;
font-size:12px;
margin:0;
padding:0;
}
</style>
<h1>Editing recipe</h1>

<%= error_messages_for :recipe %>

<% form_for(@recipe) do |f| %>
  <%= render :partial => "form", :locals => { :f => f, :button => "Update"  }  %>
<% end %>

<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>
